<?xml version="1.0" encoding="UTF-8"?>
<data>
    <version_control service="PiperCoreVCS">
        <config name="project">{settings.app_name}</config>
        <config name="branch">{settings.branch}</config>
        <config name="SuperSha">{consumer.app_commit}</config>
    </version_control>
    <config>
        <run>
            <stage id="1" name="IntegrationTest">
                <execute_what id="1">presetup</execute_what>
                <execute_what id="2">integration_test</execute_what>
            </stage>
        </run>
    </config>
    <load>
        <details stage="IntegrationTest" name="presetup">
            <execute type="runCmd">cd "{settings.path.git_home}" &amp;&amp; python3 -m venv venv &amp;&amp; . ./venv/bin/activate &amp;&amp; pip install -r requirements/atom_runner.txt</execute>
        </details>
        <details stage="IntegrationTest" name="integration_test">
            <execute type="runCmd">cd "{settings.path.git_home}" &amp;&amp; . ./venv/bin/activate &amp;&amp; python atom.py --host_atom_folder={settings.SemVer} --system_network_name={consumer.system_name} --host_username={consumer.host_username} --host_password={consumer.host_password} --jump_server_host={consumer.jump_server} --jump_server_username={consumer.jump_server_username} --jump_server_password={consumer.jump_server_password} --run_in_docker_password={consumer.run_in_docker_password} --run_in_docker_image={consumer.run_in_docker_image} --test_filter="{consumer.test_filter}" --environment=REAL --timeout={consumer.timeout} --delete</execute>
        </details>
    </load>
</data>
